@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <h1>@ViewBag.Title.</h1>
        </div>
    </section>
}

<a href="/movies">Movies</a>
<a href="/music">Music</a>