@model TrackaryASP.Models.Cart

<ul>
    @foreach (var item in Model.Products)
    { 
        <li>
            @*@Html.DisplayFor(item.Price)*@
        </li>
    }
</ul>

<div class="pull-right">
    <a href="@Url.Action("Clear", "Cart", new { id = Model.ID })" class="btn btn-default">Clear</a>
    <a href="@Url.Action("Create", "Cart")" class="btn btn-primary">Checkout</a>
</div>